body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white
}

.header-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #2945c2;
}

.header-image {
    flex-shrink: 0;
}

.navbar {
    flex-grow: 1;
    width: 100%;  /* Take full available width */
    padding: 1rem;
    background-color: #2945c2;
}

nav {
    background-color: #5572f3;
    padding: 1rem;
    width: 100%;  /* Take full width of navbar */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;  /* Remove default margin */
    padding: 0;  /* Remove default padding */
}

nav ul li a {
    color: rgb(233, 193, 13);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff0000;
}

td{
    vertical-align: top;
}

article {
    width: 50%;
}

a{
    color: rgb(233, 193, 13);
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s;
}

a:hover {
    color: #00b7ff;
}