
* {
    scroll-behavior: smooth;
    cursor:grab;
}

body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white
}

.header-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #2945c2;
}

#header-image {
    flex-shrink: 0;
}

.navbar {
    flex-grow: 1;
    width: 100%;  /* Take full available width */
    padding: 1rem;
    background-color: #2945c2;
}

nav {
    background-color: #5572f3;
    padding: 1rem;
    width: 100%;  /* Take full width of navbar */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0; 
    padding: 0; 
}

nav ul li a {
    color: rgb(243, 255, 78);
    text-decoration: underline;
    font-size: 30px;
    transition: color 0.3s, background-color 0.3s;
    padding: 30px;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #000000;
}

td{
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.jobs tr:hover {
    color:#000000;
    background-color: #ffffff;
    text-decoration: underline;
}


article {
    width: 60%;
    margin: auto;
    align-content: center;
}

.tables {
    width: 60%;
    margin: auto;
    align-content: center;
}

.letter {
    width: 60%;
    margin: auto;
    align-content: center;
}
a{
    color: rgb(233, 193, 13);
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s;
}

a:hover {
    color: #00b7ff;
}



